<a href='https://www.latos.ai'> <img src='../logo_latos.jpeg' style="width: 200px;" align="right"/></a>
*Esse notebook faz parte do curso de [Python e Ciência de Dados para a Indústria](https://www.latos.ai/academy/python-e-ciencia-de-dados) da [Latos Academy](https://www.latos.ai).*

Latos© copyright 2022. All Rights Reserved.

# Curso rápido de Aprendizado de Máquina - Exercícios

In [1]:
import pandas as pd
from pathlib import Path
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn import metrics

## Análise dos dados

Carregue a base de dados palmerpenguins.

In [2]:
root_dir = Path.cwd().parents[1]
data_dir = root_dir / 'data'

penguins = pd.read_csv(data_dir / 'penguins.csv')
penguins

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
0,Adelie,Torgersen,39.1,18.7,181,3750,MALE
1,Adelie,Torgersen,39.5,17.4,186,3800,FEMALE
2,Adelie,Torgersen,40.3,18.0,195,3250,FEMALE
3,Adelie,Torgersen,36.7,19.3,193,3450,FEMALE
4,Adelie,Torgersen,39.3,20.6,190,3650,MALE
...,...,...,...,...,...,...,...
328,Gentoo,Biscoe,47.2,13.7,214,4925,FEMALE
329,Gentoo,Biscoe,46.8,14.3,215,4850,FEMALE
330,Gentoo,Biscoe,50.4,15.7,222,5750,MALE
331,Gentoo,Biscoe,45.2,14.8,212,5200,FEMALE
332,Gentoo,Biscoe,49.9,16.1,213,5400,MALE

Busque informações sobre a base de dados:
* Onde foi coletado?
* O que significa cada variável?
* Quais possíveis objetivos para a classificação, regressão e clusterização seriam possíveis utilizando essa base de dados?

fonte: https://github.com/allisonhorst/palmerpenguins


Faça descobertas sobre os dados:

* quais são as informações estatísticas básicas de cada variável?
* quantos dados de cada espécie estão disponíveis?
* quais variáveis são fortemente correlacionadas?
* existem outliers?

Quais são as informações estatísticas básicas de cada variável?

Quantos dados de cada espécie estão disponíveis?

Quais variáveis são fortemente correlacionadas?

Existem outliers?

## Classificação

Crie um modelo de classificação das espécies de pinguim seguindo:
* separe dados em treino e teste (20%)
* utilize para X as variáveis ['bill_length_mm', 'bill_depth_mm', 'flipper_length_mm', 'body_mass_g']
* utilize para y a variável 'species'
* treine um modelo de árvores aleatórias
* compare os valores preditos para o X de teste com os valores reais
* treine outros modelos para comparar com o modelo de árvores aleatórias
* tente outros parâmetros para o cada modelo para tentar alcançar uma maior precisão de classificação

## Clusterização
Agora, considerando que não temos a coluna das espécies, utilize o método KMeans para clusterizar os dados de testes utilizados para a classificação anterior.